/*
    This is a mix of Josh's Custom CSS Reset
    https://www.joshwcomeau.com/css/custom-css-reset/
    and Andy's Modern CSS reset
    https://andy-bell.co.uk/a-modern-css-reset/
*/
/* Box sizing rules */
*, *::before, *::after {
  box-sizing: border-box;
}
/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}
html:focus-within {
  scroll-behavior: smooth;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/* Remove list styles */
ol, ul {
  list-style: none;
}
/* Remove text decoration on links */
a {
  text-decoration: none;
}
/* Make images, video, svg, ... easier to work with */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* Inherit fonts for inputs and buttons */
input, button, textarea, select {
  font: inherit;
}
/* Avoid hard-wrapping */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background-color: #072431;
  color: aqua;
}
a, button {
  color: aqua;
}
.error-message {
  color: #f36;
}
@font-face {
  src: url("/public/fonts/Orbitron-VariableFont_wght.ttf") format("truetype");
  font-family: "Orbitron";
  font-display: swap;
}
@font-face {
  src: url("/public/fonts/Exo2-VariableFont_wght.ttf") format("truetype");
  font-family: "Exo2";
  font-display: swap;
}
body {
  font-family: "Exo2", "Trebuchet MS", sans-serif;
  font-size: 1rem;
}
@media (min-width: 768px) {
  body {
    font-size: 1.125rem;
  }
}
h1 {
  font-family: "Orbitron", "Verdana", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-block: 1rem;
}
@media (min-width: 768px) {
  h1 {
    font-size: 2.375rem;
  }
}
h2 {
  font-family: "Orbitron", "Verdana", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  h2 {
    font-size: 2.125rem;
  }
}
.error-message {
  font-size: 0.875rem;
  font-weight: 300;
}
@media (min-width: 768px) {
  .error-message {
    font-size: 1rem;
  }
}
.icon-home {
  cursor: pointer;
}
.icon-home:before {
  content: url("/public/icons/icon-home.svg");
  zoom: 1.5;
}
.icon-home:hover::before, .icon-home:focus::before {
  content: url("/public/icons/icon-home-hover.svg");
}
.icon-options {
  cursor: pointer;
}
.icon-options:before {
  content: url("/public/icons/icon-options.svg");
  zoom: 1.5;
}
.icon-options:hover::before, .icon-options:focus::before {
  content: url("/public/icons/icon-options-hover.svg");
}
.icon-options-hover {
  cursor: pointer;
}
.icon-options-hover:before {
  content: url("/public/icons/icon-options-hover.svg");
  zoom: 1.5;
}
.link {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}
.has-link-border {
  background-image: linear-gradient(aqua, aqua);
  background-position: 0 bottom;
  background-repeat: no-repeat;
  background-size: 1.75rem 0.15rem;
  display: inline-block;
  transition: background-size 0.3s;
}
.has-link-border:hover {
  background-size: 100% 0.15rem;
}
.flex-column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 576px) {
  .is-hidden-tablet {
    display: none !important;
  }
}
.is-hidden-mobile {
  display: none !important;
}
@media (min-width: 576px) {
  .is-hidden-mobile {
    display: flex !important;
  }
}
.clipped-button {
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-size: 1.375rem;
  font-weight: 600;
  padding-inline: 2.25rem;
  padding-block: 0.94rem;
  margin-block: 2rem;
  cursor: pointer;
  transition: color 250ms;
  background-color: #00545c;
  position: relative;
  isolation: isolate;
  border: 0;
  clip-path: polygon(0% 1.25rem, 1.25rem 0%, 100% 0%, 100% calc(100% - 1.25rem), calc(100% - 1.25rem) 100%, 0% 100%);
}
@media (min-width: 768px) {
  .clipped-button {
    font-size: 1.75rem;
  }
}
.clipped-button::before, .clipped-button::after {
  content: "";
  position: absolute;
  inset: 0;
}
.clipped-button::before {
  background: aqua;
  z-index: -2;
}
.clipped-button::after {
  background: #00545c;
  z-index: -1;
  clip-path: polygon(0.13rem calc(1.25rem + 0.13rem * 0.5), calc(1.25rem + 0.13rem * 0.5) 0.13rem, calc(100% - 0.13rem) 0.13rem, calc(100% - 0.13rem) calc(100% - calc(1.25rem + 0.13rem * 0.5)), calc(100% - calc(1.25rem + 0.13rem * 0.5)) calc(100% - 0.13rem), 0.13rem calc(100% - 0.13rem));
  transition: clip-path 500ms;
}
.clipped-button:hover::after {
  clip-path: polygon(calc(100% - 0.13rem) calc(100% - calc(1.25rem + 0.13rem * 0.5)), calc(100% - 0.13rem) 0.13rem, calc(100% - 0.13rem) 0.13rem, calc(100% - 0.13rem) calc(100% - calc(1.25rem + 0.13rem * 0.5)), calc(100% - calc(1.25rem + 0.13rem * 0.5)) calc(100% - 0.13rem), calc(100% - calc(1.25rem + 0.13rem * 0.5)) calc(100% - 0.13rem));
}
.clipped-button:hover {
  color: #072431;
}
.clipped-container {
  width: max-content;
  height: max-content;
  padding-inline: 10%;
  padding-block: 15%;
  margin: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #072431;
  position: relative;
  isolation: isolate;
  border: 0;
  clip-path: polygon(0% 3rem, 3rem 0%, calc(100% - 3rem) 0%, 100% 3rem, 100% calc(100% - 3rem), calc(100% - 3rem) 100%, 3rem 100%, 0% calc(100% - 3rem));
}
.clipped-container::before, .clipped-container::after {
  content: "";
  position: absolute;
  inset: 0;
}
.clipped-container::before {
  background: aqua;
  z-index: -2;
}
.clipped-container::after {
  background: #072431;
  z-index: -1;
  clip-path: polygon(0.13rem calc(3rem + 0.13rem * 0.5), calc(3rem + 0.13rem * 0.5) 0.13rem, calc(100% - calc(3rem + 0.13rem * 0.5)) 0.13rem, calc(100% - 0.13rem) calc(3rem + 0.13rem * 0.5), calc(100% - 0.13rem) calc(100% - calc(3rem + 0.13rem * 0.5)), calc(100% - calc(3rem + 0.13rem * 0.5)) calc(100% - 0.13rem), calc(3rem + 0.13rem * 0.5) calc(100% - 0.13rem), 0.13rem calc(100% - calc(3rem + 0.13rem * 0.5)));
}
@media (min-width: 768px) {
  .clipped-container {
    padding-inline: 10%;
    padding-block: 5%;
  }
}
form {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15.625rem;
}
@media (min-width: 576px) {
  form {
    width: 21.875rem;
  }
}
@media (min-width: 768px) {
  form {
    width: 31.25rem;
  }
}
form .form-group {
  width: 100%;
}
form .clipped-input {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: #00545c;
  background-color: #00545c;
  position: relative;
  isolation: isolate;
  border: 0;
  clip-path: polygon(0% 1.25rem, 1.25rem 0%, 100% 0%, 100% calc(100% - 1.25rem), calc(100% - 1.25rem) 100%, 0% 100%);
}
form .clipped-input::before, form .clipped-input::after {
  content: "";
  position: absolute;
  inset: 0;
}
form .clipped-input::before {
  background: aqua;
  z-index: -2;
}
form .clipped-input::after {
  background: #00545c;
  z-index: -1;
  clip-path: polygon(0.13rem calc(1.25rem + 0.13rem * 0.5), calc(1.25rem + 0.13rem * 0.5) 0.13rem, calc(100% - 0.13rem) 0.13rem, calc(100% - 0.13rem) calc(100% - calc(1.25rem + 0.13rem * 0.5)), calc(100% - calc(1.25rem + 0.13rem * 0.5)) calc(100% - 0.13rem), 0.13rem calc(100% - 0.13rem));
  transition: clip-path 500ms;
}
form input, form textarea {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  background-color: #00545c;
  color: aqua;
}
form input:focus-visible, form textarea:focus-visible {
  outline: 0;
}
form input::placeholder, form textarea::placeholder {
  color: #0cabc0;
}
form input[type="radio"] {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  accent-color: aqua;
}
.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 1 auto;
  height: 2.5rem;
  padding-top: 0.625rem;
}
@media (min-width: 576px) {
  .nav {
    padding-top: 0;
  }
}
.nav__options {
  display: none;
  flex-direction: column;
  gap: 0.625rem;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  border: 0.13rem solid aqua;
  padding: 1rem;
}
.nav__options a {
  background-image: linear-gradient(aqua, aqua);
  background-position: 0 bottom;
  background-repeat: no-repeat;
  background-size: 1.75rem 0.15rem;
  display: inline-block;
  transition: background-size 0.3s;
}
.nav__options a:hover {
  background-size: 100% 0.15rem;
}
.nav__options.show {
  display: flex;
}
.nav__options--desktop {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
}
.nav__options--desktop a {
  background-image: linear-gradient(aqua, aqua);
  background-position: 0 bottom;
  background-repeat: no-repeat;
  background-size: 1.75rem 0.15rem;
  display: inline-block;
  transition: background-size 0.3s;
}
.nav__options--desktop a:hover {
  background-size: 100% 0.15rem;
}
footer {
  flex: 0 1 auto;
  height: 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
footer > ul {
  display: flex;
}
footer li:nth-child(-n + 2)::after {
  content: "-";
  margin-inline: 0.3125rem;
  display: inline-block;
  text-decoration: none;
}
html, body {
  height: 100%;
  box-sizing: border-box;
  min-width: 320px;
}
.page-container {
  min-height: 100vh;
  padding-block: 0.3125rem;
  padding-inline: 0.625rem;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 1 auto;
  padding-block: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
