$edge-size: 1.25rem; //20px
$border-width: 0.13rem; //2px
$container-edge-size: 3rem; //48px

@mixin two-corners-clipped {
    background-color: $card-background;
    position: relative;
    isolation: isolate;
    border: 0;

    clip-path: polygon(
        /*top-left 1*/
        0% $edge-size,
        /*top-left 2*/
        $edge-size 0%,
        /*top-right*/
        100% 0%,
        /*bottom-right 1*/
        100% calc(100% - #{$edge-size}),
        /*bottom-right 2*/
        calc(100% - #{$edge-size}) 100%,
        /*bottom-left*/
        0% 100%,
    );
}

@mixin two-corners-clipped-border {
    &::before,
    &::after {
        content: "";
        position: absolute;
        inset: 0;
    }

    &::before {
        background-color: $border;
        z-index: -2;
    }

    &::after {
        background-color: $card-background;
        z-index: -1;

        clip-path: polygon(
            /*top-left 1*/
            $border-width 
            calc(#{$edge-size} + #{$border-width} * 0.5),
            /*top-left 2*/
            calc(#{$edge-size} + #{$border-width} * 0.5) 
            $border-width,
            /*top-right*/
            calc(100% - #{$border-width}) 
            $border-width,
            /*bottom-right 1*/
            calc(100% - #{$border-width})
            calc(100% - calc(#{$edge-size} + #{$border-width} * 0.5)),
            /*bottom-right 2*/
            calc(100% - calc(#{$edge-size} + #{$border-width} * 0.5))
            calc(100% - #{$border-width}),
            /*bottom-left*/
            $border-width
            calc(100% - #{$border-width})
        );

        transition: clip-path 500ms;
    }
}

// Buttons hover effect
@mixin two-corners-clipped-hover {
    &:hover::after {
        clip-path: polygon(
            /*top-left 1*/
            calc(100% - #{$border-width})
            calc(100% - calc(#{$edge-size} + #{$border-width} * 0.5)),
            /*top-left 2*/
            calc(100% - #{$border-width}) 
            $border-width,
            /*top-right*/
            calc(100% - #{$border-width}) 
            $border-width,
            /*bottom-right 1*/
            calc(100% - #{$border-width})
            calc(100% - calc(#{$edge-size} + #{$border-width} * 0.5)),
            /*bottom-right 2*/
            calc(100% - calc(#{$edge-size} + #{$border-width} * 0.5))
            calc(100% - #{$border-width}),
            /*bottom-left*/
            calc(100% - calc(#{$edge-size} + #{$border-width} * 0.5))
            calc(100% - #{$border-width}),
        );
    }
}

@mixin four-corners-clipped {
    background-color: $body-background;
    position: relative;
    isolation: isolate;
    border: 0;

    clip-path: polygon(
        /*top-left 1*/
        0% 
        $container-edge-size,
        /*top-left 2*/
        $container-edge-size 
        0%, 
        /*top-right 1*/
        calc(100% - #{$container-edge-size}) 
        0%, 
        /*top-right 2*/
        100% 
        $container-edge-size, 
        /*bottom-right 1*/
        100% 
        calc(100% - #{$container-edge-size}), 
        /*bottom-right 2*/
        calc(100% - #{$container-edge-size}) 
        100%, 
        /*bottom-left 1*/
        $container-edge-size 
        100%, 
        /*bottom-left 1*/
        0% 
        calc(100% - #{$container-edge-size}), 
    );
}

@mixin four-corners-clipped-border {
    &::before,
    &::after {
        content: "";
        position: absolute;
        inset: 0;
    }

    &::before {
        background-color: $border;
        z-index: -2;
    }

    &::after {
        background-color: $body-background;
        z-index: -1;

        clip-path: polygon(
            /*top-left 1*/
            $border-width 
            calc(#{$container-edge-size} + #{$border-width} * 0.5),
            /*top-left 2*/
            calc(#{$container-edge-size} + #{$border-width} * 0.5) 
            $border-width,
            /*top-right 1*/
            calc(100% - calc(#{$container-edge-size} + #{$border-width} * 0.5)) 
            $border-width,
            /*top-right 2*/
            calc(100% - #{$border-width})
            calc(#{$container-edge-size} + #{$border-width} * 0.5), 
            /*bottom-right 1*/
            calc(100% - #{$border-width})
            calc(100% - calc(#{$container-edge-size} + #{$border-width} * 0.5)),
            /*bottom-right 2*/
            calc(100% - calc(#{$container-edge-size} + #{$border-width} * 0.5))
            calc(100% - #{$border-width}),
            /*bottom-left 1*/
            calc(#{$container-edge-size} + #{$border-width} * 0.5)
            calc(100% - #{$border-width}), 
            /*bottom-left 2*/
            $border-width 
            calc(100% - calc(#{$container-edge-size} + #{$border-width} * 0.5)),
        );
    }
}
