.user-score {
    justify-content: flex-start;

    &__container {
        @include is-flex-centered;

        flex-direction: column;
        position: relative;
        margin-top: $clipped-container-margin;

        @include lg {
            flex-direction: row;
        }
    }

    .canvas {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 14rem; //224px
        width: 10.625rem; //170px
    }

    .score-billboard {
        width: auto;
        min-height: 15rem; //240px
        min-width: 15rem; 
        max-width: 25rem; //400px
        font-family: $family-primary;
        margin-top: 0;

        @include lg {
            margin-top: $clipped-container-margin;
            margin-left: 10.625rem;
            margin-right: 0;
        }

        table {
            width: 100%;
            table-layout: fixed;
            border-collapse: collapse;
            text-align: left;
        }

        td {
            padding-block: .625rem; //10px
        }

        td:nth-child(2) {
            text-align: right;
        }
    }
}
