// Z-index
$base: 0;
$above-base: 1;

// Heights
$navbar-height: 2.5rem; //40px
$footer-height: 3.75rem; //60px

// Widths
$form-width: 15.625rem; //250px
$form-width-sm: 21.875rem; //350px
$form-width-md: 31.25rem; //500px


// Margins
$clipped-container-margin: 1.25rem; //20px

// Paddings
$clipped-container-padding: 2.125rem; //34px
$clipped-container-padding-md: 3.125rem; //50px