html,
body {
    height: 100%;
    font-size: 20px;
    box-sizing: border-box;
}

h1 {
    font-family: $family-orbitron;
}

p {
    font-family: $family-exo2;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

main {
    padding-bottom: 3.75rem;
}