html,
body {
    height: 100%;
    box-sizing: border-box;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

main {
    padding-top: $navbar-height;
    padding-bottom: $footer-height;
    height: 100vh;

    @include is-flex-centered;
    @include is-flex-column;
}
