html,
body {
    height: 100%;
    box-sizing: border-box;
    min-width: 320px;
}

.page-container {
    min-height: 100vh;
    padding-block: 0.3125rem; //5px
    padding-inline: 0.625rem; //10px

    @include is-flex-column;
}

main {
    flex: 1 1 auto;
    padding-block: 2rem;

    @include is-flex-centered;
    @include is-flex-column;
}
