// HSL Colors
$firefly: hsla(198, 75%, 11%, 1);
$deep-teal: hsla(185, 100%, 18%, 1);
$surfie-green: hsla(182, 76%, 26%, 1);
$cerulean: hsla(187, 88%, 40%, 1);
$cerulean-transparent: hsla(187, 88%, 40%, 0.3);
$aqua: hsla(180, 100%, 50%, 1);
$radical-red: hsla(345, 100%, 60%, 1);
$radical-red-transparent: hsla(345, 100%, 60%, 0.3);

// Colors Variables
$body-background: $firefly;
$card-background: $deep-teal;
$error-background: $radical-red-transparent;

$primary: $aqua;
$secondary: $cerulean;
$tertiary: $surfie-green;
$success-message: $aqua;
$error-message: $radical-red;

$border: $aqua;
$shadows: $cerulean-transparent;

body {
    background-color: $body-background;
    color: $primary;
}

a,
button {
    color: $primary;
}

.error-message {
    color: $error-message;
}

.flash-error {
    color: $error-message;
}
