// Fonts Family
@font-face {
    src: url("/public/fonts/Orbitron-VariableFont_wght.ttf") format("truetype");
    font-family: "Orbitron";
    font-display: swap;
}

@font-face {
    src: url("/public/fonts/Exo2-VariableFont_wght.ttf") format("truetype");
    font-family: "Exo2";
    font-display: swap;
}

// Fonts Variables
$family-orbitron: "Orbitron", "Verdana", sans-serif;
$family-exo2: "Exo2", "Trebuchet MS", sans-serif;

$family-primary: $family-orbitron;
$family-secondary: $family-exo2;

//Fonts Rules

body {
    font-family: $family-secondary;
    font-size: 1rem;

    @include md {
        font-size: 1.125rem; //18px
    }
}

h1 {
    font-family: $family-primary;
    font-size: 2rem; //32px
    text-transform: uppercase;
    margin-block: 1rem; //32px

    @include md {
        font-size: 2.375rem; //38px
    }
}

h2 {
    font-family: $family-primary;
    font-size: 1.5rem; //24px
    text-transform: uppercase;

    @include md {
        font-size: 2.125rem; //34px
    }
}

.error-message {
    font-size: .875rem; //14px

    @include md {
        font-size: 1rem;
    }
}
