.icon-home {
    cursor: pointer;
    
    @include is-flex-centered;
    
    &::before {
        content: url("/public/icons/icon-home.svg");
        zoom: 1.5;
        width: 1.5rem;
        height: 1.5rem;
    }

    &:hover, 
    &:focus {
        &::before{
            content: url("/public/icons/icon-home-hover.svg");
        }
    }
}

.icon-options {
    cursor: pointer;

    @include is-flex-centered;

    &::before {
        content: url("/public/icons/icon-options.svg");
        zoom: 1.5;
        width: 1.5rem;
        height: 1.5rem;
    }

    &:hover, 
    &:focus {
        &::before{
            content: url("/public/icons/icon-options-hover.svg");
        }
    }
}

.icon-options-hover {
    cursor: pointer;
    display: flex;

    &::before {
        content: url("/public/icons/icon-options-hover.svg");
        zoom: 1.5;
        width: 1.5rem;
        height: 1.5rem;
    }
}

.icon-pencil {
    cursor: pointer;

    @include is-flex-centered;

    &::before {
        content: url("/public/icons/icon-pencil.svg");
        zoom: 1.5;
        width: 1.5rem;
        height: 1.5rem;
    }

    &:hover, 
    &:focus {
        &::before{
            content: url("/public/icons/icon-pencil-hover.svg");
        }
    }
}

.icon-bin {
    cursor: pointer;

    @include is-flex-centered;

    &::before {
        content: url("/public/icons/icon-bin.svg");
        zoom: 1.5;
        width: 1.5rem;
        height: 1.5rem;
    }

    &:hover, 
    &:focus {
        &::before{
            content: url("/public/icons/icon-bin-hover.svg");
        }
    }
}

.icon-lines{
    pointer-events: none;

    @include is-flex-centered;

    &::before {
        content: url("/public/icons/icon-lines.svg");
        height: 4.375rem; //70px
        width: 10.3125rem; //165px
    }
}