.clipped-container {
    width: 80%;
    min-width: max-content;
    height: max-content;
    padding-inline: $clipped-container-padding; //34px
    padding-block: $clipped-container-padding;
    margin-top: $clipped-container-margin; //20px
    margin-bottom: $clipped-container-margin;
    margin-left: $clipped-container-margin;
    margin-right: $clipped-container-margin;

    @include is-flex-centered;
    @include is-flex-column;

    @include four-corners-clipped;
    @include four-corners-clipped-border;

    @include md {
        max-width: 46.875rem; //750px
        padding-inline: $clipped-container-padding-md; //50px
        padding-block: $clipped-container-padding-md;
    }
}
