.clipped-container {
    width: 80%;
    min-width: max-content;
    height: max-content;
    padding-inline: 3.125rem; //50px
    padding-block: 3.125rem;
    margin: 1.25rem;

    @include is-flex-centered;
    @include is-flex-column;

    @include four-corners-clipped;
    @include four-corners-clipped-border;

    @include md {
        max-width: 46.875rem; //750px
    }
}
