.clipped-container {
    width: max-content;
    height: max-content;
    padding-inline: 10%; //36px
    padding-block: 15%; //36px
    margin: 1.25rem;

    @include is-flex-centered;
    @include is-flex-column;

    @include four-corners-clipped;
    @include four-corners-clipped-border;

    @include md {
        padding-inline: 10%; //36px
        padding-block: 5%; //36px
    }
}
