.form {
    @include is-flex-column;
    @include is-flex-centered;

    width: $form-width; //250px

    @include sm {
        width: $form-width-sm; //350px
    }

    @include md {
        width: $form-width-md; //500px
    }

    .form-group {
        width: 100%;
        margin-top: 1rem; //15px
        margin-bottom: 1rem;

        @include md {
            margin-top: 1.25rem; //20px
            margin-bottom: 1.25rem;
        }
    }

    .clipped-input {
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        background-color: $card-background;
        cursor: pointer;

        @include two-corners-clipped;
        @include two-corners-clipped-border;
    }

    & input,
    & textarea {
        width: 100%;
        height: 100%;
        border: 0;
        margin: 0;
        background-color: $card-background;
        color: $primary;

        &:focus-visible {
            outline: 0;
        }

        &::placeholder {
            color: $secondary;
        }
    }

    & input[type="radio"] {
        width: 20px;
        height: 20px;
        margin-right: 20px;
        accent-color: $primary;
    }

    & select {
        width: 100%;
        background-color: $card-background;
        color: $primary;
        border: none;
    }

    & label {
        display: inline-block;
        width: 100%;
        margin-bottom: .625rem;
        font-family: $family-primary;
    }

    .main-label {
        font-family: $family-primary;
        font-size: 1.25rem; //20px

        @include md {
            font-size: 1.5rem;
        }
    }

    .error-message li {
        margin-top: .5rem; //8px
    }
    
}

.form-instruction {
    margin-bottom: 1.25rem; //20px
    max-width: $form-width;

    @include sm {
        max-width: $form-width-sm;
    }

    @include md {
        max-width: $form-width-md;
    }

    & p {
        margin-bottom: .625rem;
    }
}
